@font-face{
  font-family: "Pretendard";
  src: url("./components/fonts/Pretendard-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face{
  font-family: "Pretendard";
  src: url("./components/fonts/Pretendard-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face{
  font-family: "Pretendard";
  src: url("./components/fonts/Pretendard-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face{
  font-family: "Pretendard";
  src: url("./components/fonts/Pretendard-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Pretendard', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
